.navbar-brand{
    margin-left: 40%;

}
.navbar{
    margin-top: -12px;
    margin-left: -12px;
    width: 101.9%;
}
.logo{
    margin-left:20px;
}
.card1{
    margin-top: 20px;
    margin-left: 20px;
}
.card2{
    margin-top: -407px;
    margin-left: 520px;
}
.card3{
    margin-top: -407px;
    margin-left: 1020px;
}
.card4{
    margin-top: 20px;
    margin-left: 20px;
}
.card5{
    margin-top: -407px;
    margin-left: 520px;
}
.card6{
    margin-top: -407px;
    margin-left: 1020px;
}
.form{
    margin-top: 30px;
    height: 300px;
    
}
.style2{
   
    height: 100px;
}
.form1{
    margin-top: -800px;
    margin-left: 100px;
}
.button1{
    margin-top: 30px;
    margin-left: 100px;
}
